---
layout: default
---
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/declarations#read-the-declaration-and-browse-related-items' | absolute_url }}">
        Browse by Declaration
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.label | truncate: 50 }}</li>
  </ol>
</nav>

<h2>{{ page.label }}</h2>
<p>{{ page.description }}</p>

<h3>Related Items</h3>

{% assign items = site.items | where_exp: "item", "item.declarations contains page.pid" %}
{% if items.size > 0 %}
<h5 id="{{ declaration.pid }}">{{ declaration.label }}</h5>

<div id='wax-gallery-declarations-container-{{ declaration.pid }}' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="wax-gallery-declarations-{{ declaration.pid }}" class="wax-gallery">

      {% for item in items %}
        <div class='gallery-item'>
          <a href='{{ item.url | absolute_url }}'>
            <div class='hovereffect'>
              <img class='img-responsive gallery-thumb' src='{{ item.thumbnail | default: 'img/default.png'  | absolute_url }}' alt='{{ item.label | default: item.pid | escape }}'/>
              <div class='overlay'>
                <p class='info'>{{ item.label | default: item.pid | escape }} {% if item.content_warning.size > 0 %}<br><br><span class='cw'>{{ item.content_warning }}</span>{% endif %}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
