---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Creator'
    value: page.creator
  - label: 'Object Type'
    value: page.object_type
  - label: 'Description'
    value: page.description
  - label: 'Image Description'
    value: page.image_description
  - label: 'Citation'
    value: page.citation
  - label: 'Rights & Permissions'
    value: page.rights_and_permissions
  - label: 'Collection'
    value: page.original_collection
---
