---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Creator'
    value: page.creator
  - label: 'Declarations'
    value: page.declarations
    type: list
  - label: 'Citation'
    value: page.citation
  - label: 'Themes'
    value: page.themes
    type: list
  - label: 'Object Type'
    value: page.object_type
  - label: 'Description'
    value: page.description
  - label: 'Image Description'
    value: page.image_description
  - label: 'Associated Web Archives'
    value: page.associated_web_archives
    type: link
---
