---
sitemap: false
---
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,600;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Work Sans', 'sans-serif';
$heading-font:    'Work Sans', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #1E1B22;
$bg-color:        #ffffff;
$neutral:         #dedede;
$accent-light:    #940022;
$accent-dark:     #665f99;

/* viewport sizes */

$max-width:       900px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   450px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';

html {
  scroll-behavior: smooth;
}

.parallax-image {
  blockquote{
    opacity: .9;
    font-size: 1.4em;
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    font-style:italic;
    color:$text-color;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid $accent-light;
    line-height:1.6;
    position: absolute;
    background:$neutral;
  }

  blockquote::before{
    content: "\201C";
    color:$accent-light;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  blockquote::after{
    content: '';
  }

  blockquote span{
    display:block;
    color:$text-color;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
}

.top-banner{
  margin-bottom: 0;
}

.navbar > .wax-inline-container {
  display: block;
  .navbar-nav {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}



.custom-brand {
  font-family: 'Cabin Sketch', 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  line-height: 80%;
  font-size: 2.5rem;
  &:hover {
    color: $accent-light !important;
  }
}

#wax-main {
  h3 {
    font-family: 'Cabin Sketch', 'Work Sans', 'sans-serif';
    text-transform: uppercase;
    margin-top: 3rem;
  }
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
  }
  li {
    margin-bottom: 0.5rem;
    line-height: unset !important;
  }
}
#wax-main {
  padding-top: unset !important;
}
#wax-main, #wax-header {
  .nav-item {
    background-color: unset !important;
    a {
      color: $accent-light !important;
      &:hover {
        color: $accent-dark !important;
      }
    }
  }
}
.wax-gallery-container {
  .wax-gallery {
    justify-content: center;
    display: flex;
  }
  .gallery-item {
    margin: unset !important;
    border: unset !important;
    flex-basis: 140px;
    max-height: 140px;
    max-width: 200px !important;

    flex-grow: 1;
    .overlay {
      background-color: unset;
      background-image: linear-gradient(45deg, #A44113, #B56576);
      &:hover {
        opacity: .95 !important;
        transition: opacity 0.3s ease-in-out !important;
      }
      p.info {
        font-weight: bold !important;
        font-size: 1rem !important;
        line-height: 1.2rem !important;
        word-wrap: break-word !important;
        margin: 1rem auto !important;
        display: inline-block !important;
        opacity: 1;
        color: white !important;
      }
    }
  }
}

.item-view  {
  .image-viewer{
    background-color: #d3d3d3;
  }
  .pagination-link a {
    background-color: unset !important;
  }
  .coming-soon {
    background-color: #d3d3d3;
    width: 100%;
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
    .coming-soon-text {
      text-transform: unset !important;
      font-weight: bold;
    }
  }
}
.metadata-block {
  background-color: white;
}



.parallax-caption {
  background-color: #dedede !important;
  text-align: center;
}

.centered {
  text-align: center !important;
  margin: 1rem auto;
}

#wax-header {
  background-color: unset;
  background-image: url({{ '/img/paper.jpg' | absolute_url }});
  .navbar-nav .nav-item {
    z-index: unset !important;
  }
}


.inline-doc {
  background-color: #ffffbf;
  border-radius: 15px;
  padding: 1rem 2rem;
  filter: drop-shadow(0 0 0.75rem grey);
  p, li, h4, a {
    font-family: monospace !important;
  }
}

#wax-header .navbar-nav .nav-link:active {
  background-color: unset;
}

.breadcrumb {
  background-color: unset !important;
  padding: 0.75rem 0;
  justify-content: center;
  text-align: center;
  a { color: black; }
}

.dropdown-toggle::after {
  margin-left: unset !important;
}
