<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% if value and value.size != 0 %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | strip | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | strip | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
        <dt>{{ item.label }}</dt>
        {% if item.type == 'list' %}
        <dd>
          <ul>
            {% for val in value %}
            <li>{{ val | strip }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% else %}
          <dd>{{ value | strip }}</dd>
        {% endif %}
    {% endif %}
  {% endfor %}
</dl>

<dl class='metadata-block'>
  <dt>Themes</dt>
  <dd>
    <ul>
      {% for t in page.themes %}
        {% assign theme = site.data.themes | find: 'pid', t %}
        <li><a href="{{ '/themes' | absolute_url }}/{{ theme.pid }}/">{{ theme.label }}</a></li>
      {% endfor %}
    </ul>
  </dd>
</dl>

<dl class='metadata-block'>
  <dt>Declarations</dt>
  <dd>
    <ul>
      {% for d in page.declarations %}
        {% assign declaration = site.data.declarations | find: 'pid', d %}
        <li><a href="{{ '/declarations' | absolute_url }}/{{ declaration.pid }}">{{ declaration.label }}</a></li>
      {% endfor %}
    </ul>
  </dd>
</dl>

{% if page.associated_web_archives.size > 0 %}
<dl class='metadata-block'>
  <dt>Associated Web Archives</dt>
  <dd>
    <ul>
      {% for a in page.associated_web_archives %}
      <li>
        <a href="{{ a | strip | absolute_url }}" target="_blank" rel="noreferrer">
          {{ a | strip | absolute_url  }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </dd>
</dl>
{% endif %}
